<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hotel.business.HotelFoodMapper" >
  <resultMap id="BaseResultMap" type="cn.hotel.entity.HotelFoodDto" >
    <id column="food_id" property="foodId" jdbcType="VARCHAR" />
    <result column="food_no" property="foodNo" jdbcType="VARCHAR" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_code" property="foodCode" jdbcType="VARCHAR" />
    <result column="food_class_id" property="foodClassId" jdbcType="VARCHAR" />
    <result column="food_subject_id" property="foodSubjectId" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DECIMAL" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT" />
    <result column="auth_user_id" property="authUserId" jdbcType="BIGINT" />
    <result column="apply_content" property="applyContent" jdbcType="VARCHAR" />
    <result column="auth_content" property="authContent" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
  </resultMap>

  <sql id="whereParam">
    <if test="foodId !=null ">
      AND food_id = #{foodId}
    </if>
    <if test="foodClassId !=null">
      AND food_class_id = #{foodClassId}
    </if>
    <if test="foodSubjectId !=null">
      AND food_subject_id = #{foodSubjectId}
    </if>
    <if test="createTime != null" >
      AND creat_time &gt;= #{createTime,jdbcType=BIGINT}
    </if>
    <if test="createTimeEnd != null" >
      AND creat_time &lt; #{createTimeEnd,jdbcType=BIGINT}
    </if>

  </sql>

  <select id="selectHotelFoodRecord" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT *
      FROM hotel_food
      <where>
        <include refid="whereParam"/>
      </where>
      ORDER BY food_id ASC
      limit #{pageNumber},#{pageSize}
  </select>

  <select id="countHotelFoodRecord" parameterType="java.util.Map" resultType="int">
      SELECT COUNT(*) FROM hotel_food
  </select>



</mapper>