<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">



  <!-- jdbc配置 -->
  <context:property-placeholder ignore-unresolvable="true" location="classpath:config/jdbc.properties" />

  <!-- 自动将Service层注入-->
  <context:component-scan base-package="cn.hotel.service" />

  <!-- 引入redis属性配置文件 -->
  <import resource="classpath:config/redis-context.xml"/>

  <!--引入@Cacheable注解，优化查询-->
  <import resource="classpath:config/application-cache.xml"/>

  <!-- dbcp数据源 -->
  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
        destroy-method="close">
    <!--这里如果写成${jdbc.driver}，就会出现加载jdbc驱动失败的问题，暂时不清楚什么原因-->
    <property name="driverClassName" value="${jdbc.driver}" />
    <property name="url" value="${jdbc.url}" />
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />

    <!-- 连接池最大使用连接数 -->
    <property name="maxActive" value="20"/>
    <!-- 初始化连接大小 -->
    <property name="initialSize" value="1"/>
    <!-- 获取连接最大等待时间 -->
    <property name="maxWait" value="60000"/>
    <!-- 连接池最大空闲 -->
    <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
    <!-- 连接池最小空闲 -->
    <property name="minIdle" value="3"/>
    <!-- 自动清除无用连接 -->
    <property name="removeAbandoned" value="true"/>
    <!-- 清除无用连接的等待时间 -->
    <property name="removeAbandonedTimeout" value="180"/>
    <!-- 连接属性 -->
    <property name="connectionProperties" value="clientEncoding=UTF-8"/>
  </bean>

  <!-- mybatis的配置文件 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
    <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml"/>
  </bean>

  <!-- spring与mybatis整合配置，扫描所有dao 和所有mapper文件 -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="cn.hotel.business"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
  </bean>

  <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <!-- 写操作 -->
      <tx:method name="insert*" propagation="REQUIRED" isolation="DEFAULT"/>
      <tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT"/>
      <tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT"/>
      <tx:method name="batch*" propagation="REQUIRED" isolation="DEFAULT"/>

      <!-- 读操作 -->
      <tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
      <tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
      <tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>

      <tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/>
    </tx:attributes>
  </tx:advice>

  <aop:config>
    <aop:pointcut id="pc" expression="execution(public * cn.hotel.service.*.*(..))"/>
    <!--把事务控制在Service层-->
    <aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
  </aop:config>
</beans>

