body{
    margin:2px;
    font-family:arial, 宋体;
    font-size:12px;
}

.clear{ border:0px; clear:both; visibility: hidden; height:0px;}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}











